                                /********************************************** BODY/HTML *******************************************/
html {
    
  height: 100%;
}

* {
    -moz-box-sizing: border-box; box-sizing: border-box;
}

body{
    
    position: relative;
    padding-bottom: 50px;
    min-height: 100%;
    background-color: rgba(242,242,242,0.5);

}
                                /*********************************************** HEADER ************************************************/


h1{

    text-align: center;
}

.page-header{
    
    border-bottom: 2px solid grey;
    margin-top:0px;
    background-color: rgba(236,223,204,1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}


                                /*********************************************** INDEX ************************************************/

.nav{
    
    margin-top: 10px;
    margin-bottom: 5px;

}

.principal ul li a{
    
    color: black;
}

.principal{
    
    min-height: 400px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    padding-bottom:15px;
    width: auto;
    /*border: 10px solid #EEA441;*/
    border: 10px solid #DCCCB6;
    border-radius: 5px;
    -moz-box-shadow: -2px 2px 6px #656565;
    -webkit-box-shadow: -2px 2px 6px #656565;
    -o-box-shadow: -2px 2px 6px #656565;
    box-shadow: -2px 2px 6px #656565;  
}

.principal h3{
    
    text-align: center;
    margin-bottom: 0px;
    
}
.principal h4{
    
    text-align: center;
    margin-bottom: 0px;
    
}



                                /*********************************************** NOUVEAU ************************************************/

.qcm{
    
    border-bottom: 1px dashed grey;

}

form.qcm{
    
    border-right: 1px dashed grey;
    border-left: 1px dashed grey;
}



form{
    
    padding-top: 10px;
    padding-left: 5px;

}

form a{
    
    display: block;
}

.qcm input{
  /*  width: 400px;*/
    margin-bottom: 10px;
}

.new-event a{
    cursor: pointer;
}

.new-event .tooltip-inner{
    background-color:white;
    color: black;
}

.new-event button{
    border:none;
    background-color:inherit;  
    outline: none;
    padding-top:30px;
    
}

.new-event .div-bouton{
    padding-left: 0px;
    
}
.new-event table{
    margin-top:15px;
    border: 1px solid rgb(221,221,221);


}

.new-event .num{
    width: 20%;

}

.new-event .liste{
    height:400px;
    overflow:auto;
    
}

.titre-liste{
    margin-top: 20px;
}

.even {
  background-color: rgba(220,204,182,0.3);
}

.principal .col-decale {
    padding-left: 0px;

}

.label-question{
    width:20%;
}

.label-nbRep{
    width:30%;
}


                                /*********************************************** FOOTER ************************************************/



footer{
    
    position: absolute;
    bottom:0;
	width: 100%;
}


footer>div{
    
    border-top: 2px solid grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(236,223,204,1);
    text-align: center;
    height: 50px;
}

footer p{
    margin-top: 5px;
    margin-bottom: 0px;
}

