<div class="row">
    <div class="col-md-12">
        <h3>{{title}}</h3>
        <div class="col-md-4 col-md-offset-4">      
            <hr/>
        </div>
    </div>
</div>


<div class="row new-event">
    <div class="col-md-10 col-md-offset-1" ng-controller="qcmController">
            <h4 class="alert alert-info qcm">Création des questions/réponses</h4>  
            <form  class="qcm form-inline">  
                <div class="row">
                    <div class="col-md-12">   
                        <div class="col-md-12">
                            <label for="question">Question {{maxQuestion}}: </label>
                            <input ng-click="videMessage()" type="text" ng-model="questionInput" value="" class="form-control input-qcm" id="question"/> 
                            <label for="numQuestion">Nombre de réponses: </label>
                            <input type="number"  ng-model="nbRep" class="form-control" ng-click="set()"  min="2" max="5" value="2"/>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <hr/>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12" ng-repeat="item in listRep" ng-if="$index<= nbRep-1 ">
                            <label for="reponse">Réponse {{listLettre[$index].lettre}}: </label>
                            <input ng-click="videMessage()" type="text" ng-model="item.reponse" value="" class="form-control input-qcm" id="reponse"/> 
                        </div>
                        <div class="col-md-1">
                            <button ng-disabled="!questionInput" ng-click="valideQcm();" type="button" class="btn btn-primary ">Valider</button> 
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <p ng-class="result" style="padding: 15px; margin-top: 5px;">{{ resultMessage }}</p>
                        </div>    
                    </div>
                </div>
            </form>
        </div>

    <div class="col-md-12 titre-liste">
        <h3>Liste des questions/réponses</h3>
        <div class="col-md-4 col-md-offset-4">      
            <hr/>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2 liste">
        <table class="table">
            <tr><th class="num">Numero</th><th class="small-cell">Questions</th><th class="small-cell">Réponses</th></tr>       
             <tr ng-repeat="item in listeQuestions" ng-class-odd="'odd'" ng-class-even="'even'" ><td>{{item.num_quest}}</td><td>{{item.enonce}}</td>
                 <td>
                    <table class="table sous-table" >
                        <tr ng-repeat="rep in listeReponses" ng-if="rep.num_question==item.num_quest">
                            <td class="small-cell">{{rep.num_rep}}</td><td>{{rep.description}}</td>
                        </tr>
                         
                     </table>
                </td>
            </tr>
        </table>
    </div>
</div>


