<div class="row">
    <div class="col-md-12">
        <h3>{{title}}</h3>
        <div class="col-md-4 col-md-offset-4">      
            <hr/>
        </div>
    </div>
</div>


<div class="row new-event">
    <div class="col-md-6" ng-controller="questionsController">
        <div class="col-md-12 ">
            <h4 class="alert alert-info qcm">Création des questions</h4>     
            <form class="qcm">
                <button ng-init="i=1" ng-click="ajoutForm(i);" ng-disabled="formulaire"><img  data-toggle="tooltip" data-placement="bottom" title="Ajouter une question" src="./images/plus.png" alt="ajouter"/></button>           
                <button ng-click="valideQuestion();i=i+1" ng-disabled="!formulaire"><img  class="valide" data-toggle="tooltip" data-placement="bottom" title="valider" src="./images/valide.png" alt="ajouter"/></button>
                <p ng-bind-html="formulaire"></p>
            </form>
        </div>
    </div>
    
    <div class="col-md-6" ng-controller="questionsController">
        <div class="col-md-12 ">
            <h4 class="alert alert-info qcm">Création des réponses</h4>
            <form method="post" class="qcm">
                <label for="reponse">Réponse 1: </label><input type="text" name="reponse" value="" class="form-control" />
            <p ng-bind-html="formulaire"></p>
            </form>
        </div>
    </div>

</div>
