<div class="row">
    <div class="col-md-12">
        <h3>{{title}}</h3>
        <div class="col-md-4 col-md-offset-4">
            <hr/>
        </div>
    </div>
</div>
<html>
<body>
	<p style={{styleBody}}>test</p>
<script src="../js/jscolor/jscolor.js"></script>
<div class="col-md-12 titre-liste">
    <h3>Questions</h3>
        <div class="col-md-4 col-md-offset-4">
            <hr/>
        </div>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <form >
    <div class="col-md-3">
        <select class="form-control" name="police" size="1">
            <option style="font-family:Arial;">Arial</option>
            <option style="font-family:Comic;">Comic</option>
            <option style="font-family:Courier New;">Courier New</option>
            <option style="font-family:Helvetica;">Helvetica</option>
            <option style="font-family:Raleway;">Raleway</option>
            <option style="font-family:Times New Roman;">Times New Roman</option>
        </select>
    </div>

    <div class="col-md-3">
        <select class="form-control" name="effet" size="1">
            <option style="font-style:normal;">Normal</option>
            <option style="font-style:italic;">Italique</option>
            <option style="font-weight:bold;">Gras</option>
            <option style="text-decoration:underline;">Souligné</option>
        </select>
    </div>

    <div class="col-md-3">
        <select class="form-control" name="taille" size="1">
            <option style="font-size:10px;">10px</option>
            <option style="font-size:12px;">12px</option>
            <option style="font-size:14px;">14px</option>
            <option style="font-size:16px;">16px</option>
            <option style="font-size:18px;">18px</option>
        </select>
    </div>
    <div class="col-md-3">
		<input  placeholder="Couleur..." class="color form-control"/>
    </div> 
        </form>
    </div>


    
</div>
<div class="col-md-12 titre-liste">
    <h3>Réponses</h3>
        <div class="col-md-4 col-md-offset-4">
            <hr/>
        </div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
    <div class="col-md-3">
        <form>
        <select class="form-control" name="police" size="1">
            <option style="font-family:Arial;">Arial
            <option style="font-family:Comic;">Comic
            <option style="font-family:Courier New;">Courier New
            <option style="font-family:Helvetica;">Helvetica
            <option style="font-family:Raleway;">Raleway
            <option style="font-family:Times New Roman;">Times New Roman
        </select>
        </form>
    </div>

    <div class="col-md-3">
        <form>
        <select class="form-control" name="taille" size="1">
            <option style="font-size:10px;">10px
            <option style="font-size:12px;">12px
            <option style="font-size:14px;">14px
            <option style="font-size:16px;">16px
            <option style="font-size:18px;">18px
        </select>
        </form>
    </div>

    <div class="col-md-3">
        <p>Bonne réponse<input  placeholder="Couleur..." class="color form-control"/></p>
    </div>
    <div class="col-md-3">
        <p>Mauvaise réponse<input  placeholder="Couleur..." class="color form-control"/></p>
    </div>

	</div>
</div>

<div class="col-md-12 titre-liste">
    <h3>Modifier les Couleurs</h3>
        <div class="col-md-4 col-md-offset-4">
            <hr/>
        </div>
</div>
<div class="col-md-8 col-md-offset-2">
    <div class="col-md-6">
        <p><input  placeholder="Primaire" class="color form-control"/></p>
    </div>
    <div class="col-md-6">
        <p><input  placeholder="Secondaire" class="color form-control"/></p>
    </div>
</div>
<br/>

<div class="col-md-12 titre-liste">
    <h3>Ajouter des Images</h3>
        <div class="col-md-4 col-md-offset-4">
            <hr/>
        </div>
</div>
<div class="col-md-8" ng-controller="imageController">
    <div class="col-md-6" >
        <p>Image de fond
        <input type="file" nv-file-select uploader="uploader"/><br/>
        <div>
            <div ng-repeat="item in uploader.queue">
                <!--<Name: <span ng-bind="item.file.name"></span><br/>-->
               <button ng-click="item.upload()">upload</button>
            </div>
			<div ng-if="controller.isImage(item._file)">
                        <div ng-thumb="{ file: item._file, height: 100 }"></div>
            </div>
        </div>
        
    </div>
    <!--<div class="col-md-6">
        <p>Logo
        <input type="file" nv-file-select uploader="uploader"/><br/>
        <ul>
            <li ng-repeat="item in uploader.queue">
                <Name: <span ng-bind="item.file.name"></span><br/>
             <button ng-click="item.upload()">upload</button>
            </li>
        </ul>
        </p>
    </div>-->
</div>
<!--
<div class="col-md-12 titre-liste">
    <h4>Choisir un thème prédéfini</h5>
        <div class="col-md-4 col-md-offset-4">
            <hr/>
        </div>
</div>
<div style="text-align:center;">
    <form>Thème
    <select name="theme" size="1">
        <option>default
    </select>
    </form>
</div>-->
</body>
</html>